<div class="quote-container">
    <div class="quote" onclick="location.href = '/<%= quote._id%>'">
        <p class="quote__singleQuotation">&#8220;</p>
        <p class="quote__text" id="quote__short"><%= quote.quoteShort %></p>
        <p class="quote__info"><%= quote.author %>,&nbsp;<%= quote.title %></p>
    </div>
    <div class="quote__line"></div>
    <img class="quote__image"src="<%= quote.image %>" alt="">
</div>
<div class="break"></div>