<% layout("layouts/boilerplate") -%>

<div class="landing-wrapper">
    <div class="landing-wrapper__overlay">
        <div class="landing">
            <h1 class="landing__quote">&#8220; <%= quoteOfDay[0].quoteShort %> &#8221;</h1>
        </div>
    </div>
</div>


<div class="quotes-wrapper">
    <h2 class="title">Quotes</h1>
    <% quotes.forEach((quote, index) => { %>
    <div class="quote">
        <p class="quote__singleQuotation">&#8220;</p>
        <p class="quote__short is-expanded"><%= quote.quoteShort %></p>
        <p class="quote__full is-hidden"><%- quote.partiallyBoldedQuote %></p>
        <div class="quote__source">
            <p><%= quote.author %><span class="quote__title is-hidden">, <%= quote.title %> </span></p>
            <a href="/<%= quote._id %>" class="quote__pagelink">Read More</a>
        </div>
    </div>
    <hr class="break">
    <% }) %>  
</div>


<script src="javascripts/index.js"></script>