<% layout("layouts/boilerplate") -%>

<main class="container">
    <div class="header"> 
        <div class="header__bg-wrapper">
            <% quoteHeader.forEach((quote, index) => { %>
                <img class="header__bg <%= (index === 0) ? "header__bg--front": "" %>" src="<%= quote.imageBig %>" alt="" >
            <% }) %> 
        </div>
        <div class="header__grid">
            <h1 class="header__keyword heading-1"><span class="header__quotation-mark">&ldquo;</span><%= quoteHeader[0].keywords %></h1>
            <p class="header__quote paragraph--medium"><%= quoteHeader[0].quoteExcludeKeywords %>&rdquo;</p>
            <div class="header__bottomLeft">
                <h3 class="header__author heading-4"><%= quoteHeader[0].author %></h3>
                <h2 class="header__label heading-3">Quote of Day</h2>
            </div>
            <div class="header__bottomRight"></div>
            <div class="header__topRight">
                <div class="header__circle"></div>
                <div class="header__square"></div>
            </div>
            <div class="header__book"><%= quoteHeader[0].title %></div>
        </div>
        <ul class="header-nav">
            <% quoteHeader.forEach((quote, index) => { %>
            <li class="header-nav__item <%= (index === 0) ? "header-nav__item--selected": "" %>">
                <img src="<%= quote.imageThumb %>" alt="" class="header-nav__thumb">
            </li>  
            <% }) %>
        </ul>
    </div>
 
    <div class="vertical-line-break"></div>

    <section class="quote-box-container">
        <%  quotes.forEach((quote, index) => { %>
            <%- include("../templates/quote", { quote })%>
        <%  }) %>
    </section>

</main>
    
<script>
    let nextPageCount = <%= ++pagination.page %>;
    let noFurtherRequest = <%= pagination.noFurtherRequest %>
</script>

<script src="https://github.com/mde/ejs/releases/download/v3.1.6/ejs.min.js"></script>
<script src="javascripts/quoteFocus.js"></script>
<script src="javascripts/infiniteScroll.js"></script>