<% layout("layouts/boilerplate") -%>

<main class="container">
    <div class="header">
        <div class="header__keyword">
            <h1 class="header__first-words heading-1"><span class="header__quotation-mark">&ldquo;</span><%= quoteOfDay[0].keywords %></h1>
        </div>
        <div class="header__quote">
            <p class="header__paragraph paragraph--big"><%= quoteOfDay[0].quoteExcludeKeywords %>&rdquo;</p>
        </div>
        <h5 class="header__author heading-5"><%= quoteOfDay[0].author %></h5>
        <div class="header__bottom">
            <a href="/<%=quoteOfDay[0]._id%>" class="btn header__pagelink">View More</a>
        </div>
        <h2 class="header__book heading-2"><%= quoteOfDay[0].title %></h2>
    </div>
 
    <div class="vertical-line-break"></div>

    <section class="quote-box-container">
        <%  quotes.forEach((quote, index) => { %>
            <%- include("../templates/quote", { quote })%>
        <%  }) %>
    </section>

</main>
    
<script>
    let nextPageCount = <%= ++pagination.page %>;
    let noFurtherRequest = <%= pagination.noFurtherRequest %>
</script>

<script src="https://github.com/mde/ejs/releases/download/v3.1.6/ejs.min.js"></script>
<script src="javascripts/quoteFocus.js"></script>
<script src="javascripts/infiniteScroll.js"></script>